<h3 class='col-12 offset-4'><%= @game.name %></h3>
<div class="chessboard">
    <% y = 0 %>
    <% while y < 7 %>
        <% x = 0 %>
        <% while x < 7 %>
            <% if (y+x).even? %>
                <div class="white"></div>
            <% else %>
                <div class="black"></div>
            <% end %>
        <% end %>
    <% end %>         
</div>