<h3 class='col-10 offset-5'><%= @game.name %></h3>
<div class='col-10 offset-3'>
    <div class="chessboard">
        <% 0.upto(7) do |y| %>
            <% 0.upto(7) do |x| %>
                <% if (y+x).even? %>
                    <div class="white"></div>
                <% else %>
                    <div class="black"></div>
                <% end %>
            <% end %>
        <% end %>         
    </div>
</div>





