<h3 class='col-12 offset-4'><%= @game.name %></h3>
<br>
<div class="booyah-box col-10 offset-4">  
  <div class="chessboard">
    <div></div><div></div>
    <div></div><div></div>
    <div></div> <div></div>
    <div></div> <div></div>
  </div>
</div>
