
<h3 class='col-10 offset-5'><%= @game.name %></h3>
<div class='col-10 offset-3'>
    <div class="chessboard">
        <% 7.downto(0) do |y| %>
            <% 0.upto(7) do |x| %>
            <% piece = @game.piece_at(x,y) %>
            <% selected = @piece && piece.id == @piece.id %>
                <div class="<%= selected ? 'highlight' : black_white_cell(x,y) %>">
                    <% if piece %>
                        <% if piece.id %>
                            <%= link_to show_piece(@game.piece_at(x,y)), game_piece_path(:game_id => @game.id, :id => piece) %>
                        <% end %>
                    <% else %>
                        <%= link_to '', game_piece_path(:game_id => @game.id, :id => piece) %>
                    <% end %>
                </div>
            <% end %>
        <% end %>         
    </div>
</div>
